In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

chem_data = pd.read_csv("chemicals.csv")

chem_data.head()

,cws_name,chemical_species,contaminant_level,county,pws_id,pop_served,state,unit_measurement,value,year,fips,state_fips
0,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,Less than or equal MCL,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,6001,6
1,CITY OF LIVERMORE,Uranium,Less than or equal MCL,Alameda,CA0110011,26400,California,micrograms/L,1.64,2000,6001,6
2,CITY OF PLEASANTON,Uranium,Less than or equal MCL,Alameda,CA0110008,70600,California,micrograms/L,1.64,2000,6001,6
3,DUBLIN SAN RAMON SERVICES DISTRICT,Uranium,Less than or equal MCL,Alameda,CA0110009,72500,California,micrograms/L,1.64,2000,6001,6
4,NORRIS CANYON PROPERTY OWNERS ASSN,Uranium,Less than or equal MCL,Alameda,CA0103040,100,California,micrograms/L,4.51,2000,6001,6

In [116]:
chem_Uran = chem_data[chem_data.chemical_species == "Uranium"]
chem_Ars = chem_data[chem_data.chemical_species == "Arsenic"]
chem_DEHP = chem_data[chem_data.chemical_species == "DEHP"]
chem_Nitrates = chem_data[chem_data.chemical_species == "Nitrates"]
chem_Halo = chem_data[chem_data.chemical_species == "Halo-Acetic Acid"]
chem_Tri = chem_data[chem_data.chemical_species == "Trihalomethane"]

In [117]:
# get new dataframe with aggregate data for each year

counties = chem_data.fips.unique()
years = chem_data.year.unique()
chemicals = chem_data.chemical_species.unique()
# years = [str(x) for x in years]
columns = years

chem_data_Uran = pd.DataFrame(0, index = counties, columns = columns) 
chem_data_Ars = pd.DataFrame(0,index = counties, columns = columns)
chem_data_DEHP = pd.DataFrame(0,index = counties, columns = columns)
chem_data_Nitrates = pd.DataFrame(0,index = counties, columns = columns)
chem_data_Halo = pd.DataFrame(0,index = counties, columns = columns)
chem_data_Tri = pd.DataFrame(0,index = counties, columns = columns)

chem_data_Total = pd.DataFrame(0,index = counties, columns = columns)

#chem_data_pop = pd.DataFrame(0,index = counties, columns = columns)


measures = chem_data.unit_measurement.unique()

chem_dict = {}
for i, chem in enumerate(chemicals):
    chem_dict[chem]  = i

chem_dict

{'Uranium': 0,
 'Arsenic': 1,
 'DEHP': 2,
 'Nitrates': 3,
 'Halo-Acetic Acid': 4,
 'Trihalomethane': 5}

In [130]:
from __future__ import division

current_county = 'Alameda'
county_pop = 0
county_tot = 0


for row in chem_Uran.itertuples():
    year = row[10]
    val = row[9]
    pop = row[6]
    county = row[11]
    chemical = row[2]
    measure = row[8]
    if county == current_county: 
        county_pop += pop
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Uran.loc[county][year] = county_tot*100/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Uran.loc[county][year]= county_tot*100/county_pop
    else:
        current_county = county
        county_pop = pop
        county_tot = 0
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Uran.loc[county][year] = county_tot*100/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Uran.loc[county][year] = county_tot*100/county_pop

In [136]:
chem_data_Uran.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2015,2016,2013,2014,1999
6001,161,95,142,105,109,106,99,95,94,94,92,92,93,85,101,0,0,0
6003,0,155,76,76,78,83,88,0,0,0,0,0,0,76,0,76,77,0
6005,0,200,97,73,73,68,68,99,101,103,104,100,88,105,105,97,101,0
6007,84,84,89,91,91,84,89,91,92,90,90,89,89,88,87,89,90,0
6009,81,92,97,113,118,148,158,156,157,160,160,203,0,206,188,203,207,0

In [132]:
chem_Ars.head()

,cws_name,chemical_species,contaminant_level,county,pws_id,pop_served,state,unit_measurement,value,year,fips,state_fips
37731,ALAMEDA COUNTY WATER DISTRICT,Arsenic,Non Detect,Alameda,CA0110001,328325,California,micrograms/L,1.0,2000,6001,6
37732,ALAMEDA POINT,Arsenic,Non Detect,Alameda,CA0110016,750,California,micrograms/L,1.0,2000,6001,6
37733,CALIFORNIA WATER SERVICE - LIVERMORE,Arsenic,Less than or equal MCL,Alameda,CA0110003,57200,California,micrograms/L,1.5,2000,6001,6
37734,CITY OF HAYWARD,Arsenic,Non Detect,Alameda,CA0110006,146398,California,micrograms/L,1.0,2000,6001,6
37735,CITY OF LIVERMORE,Arsenic,Non Detect,Alameda,CA0110011,26400,California,micrograms/L,1.0,2000,6001,6

In [134]:
chem_Ars.iloc[0][3]

'Alameda'

In [159]:
from __future__ import division

current_county = chem_Ars.iloc[0][3]
county_pop = 0
county_tot = 0


for row in chem_Ars.itertuples():
    year = row[10]
    val = row[9]
    pop = row[6]
    county = row[11]
    chemical = row[2]
    measure = row[8]
    if county == current_county: 
        county_pop += pop
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Ars.loc[county][year] = float(county_tot)*100/float(county_pop)
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Ars.loc[county][year]= float(county_tot)*100/float(county_pop)
    else:
        current_county = county
        county_pop = pop
        county_tot = 0
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Ars.loc[county][year] = float(county_tot)*100/float(county_pop)
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Ars.loc[county][year] = float(county_tot)*100/float(county_pop)

In [160]:
chem_data_Ars.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2015,2016,2013,2014,1999
6001,101,101,101,100,100,100,100,100,100,100,100,100,100,100,100,100,100,0
6003,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,0
6005,100,100,113,111,110,111,110,111,114,114,114,113,0,108,107,111,109,0
6007,100,141,142,135,152,164,156,164,143,141,148,138,138,128,127,138,131,0
6009,100,100,100,100,100,100,100,100,100,102,101,101,101,101,101,101,101,0

In [148]:
from __future__ import division

current_county = chem_DEHP.iloc[0][3]
county_pop = 0
county_tot = 0


for row in chem_DEHP.itertuples():
    year = row[10]
    val = row[9]
    pop = row[6]
    county = row[11]
    chemical = row[2]
    measure = row[8]
    if county == current_county: 
        county_pop += pop
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_DEHP.loc[county][year] = county_tot*1000/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_DEHP.loc[county][year]= county_tot*1000/county_pop
    else:
        current_county = county
        county_pop = pop
        county_tot = 0
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_DEHP.loc[county][year] = county_tot*1000/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_DEHP.loc[county][year] = county_tot*1000/county_pop

In [140]:
chem_data_DEHP.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2015,2016,2013,2014,1999
6001,150,150,151,150,150,150,150,150,150,150,150,155,154,153,153,154,154,0
6003,0,0,0,0,0,0,0,0,0,0,150,0,0,0,0,0,0,0
6005,0,0,150,150,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6007,150,150,0,0,150,150,150,150,150,150,150,150,150,0,150,0,150,0
6009,0,0,0,0,0,0,0,0,150,0,0,0,0,0,0,150,0,0

In [141]:
from __future__ import division

current_county = chem_Nitrates.iloc[0][3]
county_pop = 0
county_tot = 0


for row in chem_Nitrates.itertuples():
    year = row[10]
    val = row[9]
    pop = row[6]
    county = row[11]
    chemical = row[2]
    measure = row[8]
    if county == current_county: 
        county_pop += pop
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Nitrates.loc[county][year] = county_tot*100/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Nitrates.loc[county][year]= county_tot*100/county_pop
    else:
        current_county = county
        county_pop = pop
        county_tot = 0
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Nitrates.loc[county][year] = county_tot*100/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Nitrates.loc[county][year] = county_tot*100/county_pop

In [144]:
chem_data_Nitrates.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2015,2016,2013,2014,1999
6001,34724,35890,40232,42120,43782,45704,47143,47307,46505,45408,44319,43407,42952,42971,42738,43280,43249,0
6003,3000,2500,2333,2344,2509,2425,2444,2386,2430,2386,2443,2407,2376,3897,4936,2472,2535,0
6005,20579,17917,23664,21389,19569,23751,24038,29485,34315,39054,43710,49175,55396,41131,39012,48128,42569,0
6007,137445,104471,87129,120685,149490,158111,169027,180607,185102,181730,180168,173163,171671,167861,165774,169181,167291,0
6009,19412,15358,16740,15829,16009,17103,17609,17505,17406,17370,17613,17453,17274,16479,17213,16741,16126,0

In [142]:
from __future__ import division

current_county = chem_Halo.iloc[0][3]
county_pop = 0
county_tot = 0


for row in chem_Halo.itertuples():
    year = row[10]
    val = row[9]
    pop = row[6]
    county = row[11]
    chemical = row[2]
    measure = row[8]
    if county == current_county: 
        county_pop += pop
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Halo.loc[county][year] = county_tot*100/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Halo.loc[county][year]= county_tot*100/county_pop
    else:
        current_county = county
        county_pop = pop
        county_tot = 0
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Halo.loc[county][year] = county_tot*100/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Halo.loc[county][year] = county_tot*100/county_pop

In [164]:
chem_data_Halo

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2015,2016,2013,2014,1999
6001,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6003,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6005,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6007,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6009,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6011,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6013,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6015,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6021,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6023,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6025,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6027,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6029,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6031,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6033,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6035,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6037,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6039,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6041,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6043,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6045,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6047,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6049,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6051,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6053,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6055,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6057,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6059,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26109,0,0,0,0,0,0,0,0,0,0,0,0,0,2185,2076,1400,2205,0
26111,0,0,0,0,0,0,0,0,0,0,0,0,2130,2153,2263,2317,2237,0
26113,0,0,0,0,0,0,0,0,0,0,0,0,0,353,363,0,266,0
26115,0,0,0,0,0,0,0,0,0,0,0,0,1626,1543,1541,1569,1582,0
26117,0,0,0,0,0,0,0,0,0,0,0,0,0,154,136,152,209,0
26119,0,0,0,0,0,0,0,0,0,0,0,0,0,475,358,0,50,0
26121,0,0,0,0,0,0,0,0,0,0,0,0,0,1947,1990,2451,2087,0
26123,0,0,0,0,0,0,0,0,0,0,0,0,0,262,234,0,403,0
26125,0,0,0,0,0,0,0,0,0,0,0,0,1252,1088,1102,1176,1094,0
26127,0,0,0,0,0,0,0,0,0,0,0,0,0,150,133,0,200,0
26129,0,0,0,0,0,0,0,0,0,0,0,0,0,50,50,0,50,0
26131,0,0,0,0,0,0,0,0,0,0,0,0,0,2918,2865,3500,3575,0
26133,0,0,0,0,0,0,0,0,0,0,0,0,0,431,421,0,395,0
26135,0,0,0,0,0,0,0,0,0,0,0,0,0,75,82,0,50,0
26137,0,0,0,0,0,0,0,0,0,0,0,0,0,150,135,0,100,0
26139,0,0,0,0,0,0,0,0,0,0,0,0,1731,1825,1866,1957,1883,0
26141,0,0,0,0,0,0,0,0,0,0,0,0,0,927,863,0,1079,0
26143,0,0,0,0,0,0,0,0,0,0,0,0,0,151,0,0,0,0
26145,0,0,0,0,0,0,0,0,0,0,0,0,2658,2442,2476,2785,2519,0
26151,0,0,0,0,0,0,0,0,0,0,0,0,0,817,953,900,873,0
26153,0,0,0,0,0,0,0,0,0,0,0,0,0,2935,2826,3200,3450,0
26155,0,0,0,0,0,0,0,0,0,0,0,0,0,268,368,200,340,0
26147,0,0,0,0,0,0,0,0,0,0,0,0,1367,1329,1424,1285,1316,0
26149,0,0,0,0,0,0,0,0,0,0,0,0,0,133,161,50,88,0
26157,0,0,0,0,0,0,0,0,0,0,0,0,0,462,525,0,651,0
26159,0,0,0,0,0,0,0,0,0,0,0,0,0,1267,1144,1926,1559,0
26161,0,0,0,0,0,0,0,0,0,0,0,0,1041,862,838,927,885,0
26163,0,0,0,0,0,0,0,0,0,0,0,0,1099,1044,1088,1056,1038,0
26165,0,0,0,0,0,0,0,0,0,0,0,0,0,272,241,381,281,0
29173,0,0,0,0,0,0,3972,4219,4324,4569,4283,4318,0,4121,4011,4138,4203,0

In [156]:
from __future__ import division

current_county = chem_Tri.iloc[0][3]
county_pop = 0
county_tot = 0


for row in chem_Tri.itertuples():
    year = row[10]
    val = row[9]
    pop = row[6]
    county = row[11]
    chemical = row[2]
    measure = row[8]
    if county == current_county: 
        county_pop += pop
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Tri.loc[county][year] = county_tot*1000/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Tri.loc[county][year]= county_tot*1000/county_pop
    else:
        current_county = county
        county_pop = pop
        county_tot = 0
        if measure == measures[1] and county_pop != 0:
            county_tot += val*pop*1000
            chem_data_Tri.loc[county][year] = county_tot*1000/county_pop 
        elif county_pop != 0:
            county_tot += val*pop
            chem_data_Tri.loc[county][year] = county_tot*1000/county_pop

In [155]:
chem_data_Tri.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2015,2016,2013,2014,1999
6001,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6003,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6005,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6007,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6009,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [81]:
chem_data_pop.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2015,2016,2013,2014,1999
6001,12189522,10362536,10523332,15433288,13124600,10231632,15433488,10071840,9575454,11724240,9120782,10480184,12379412,13526500,10541940,7669400,7669400,0
6003,10600,10700,15900,16250,11070,10942,11002,10890,11004,10650,10980,10740,10650,11042,11284,16584,11144,0
6005,124964,23820,40306,57190,24350,45344,24670,10252,12178,7926,8336,16400,23590,65558,66438,63456,61588,0
6007,1028564,605488,391672,450218,743842,812358,800092,721656,872268,469246,634780,983208,619150,631700,804420,650146,885038,0
6009,166934,166656,192798,206392,217436,198904,198192,142058,200080,206462,180500,201680,187950,168018,246604,175442,183734,0

In [79]:
'''
from __future__ import division

for year in years:
    for county in counties:
        if chem_data_Total.loc[county][year] == 0:
            continue
        else:
            chem_data_Total.loc[county][year] /= chem_data_pop.loc[county][year]
'''

In [80]:
chem_data_Total.loc[6001][2000]

0

In [154]:
chem_data_Uran.to_csv('score_Uran.csv')

In [165]:
chem_data_Nitrates.to_csv('score_Nitrates.csv')
chem_data_DEHP.to_csv('score_DEHP.csv')
chem_data_Ars.to_csv('score_Ars.csv')
chem_data_Halo.to_csv('score_Halo.csv')
chem_data_Tri.to_csv('score_Tri.csv')